/* When I inspect the authors the last two are taking up more space than what it looks like which you can see through inspect*//`
.octocat img{
	width: 300px;
	height: auto;
	border: 1px ridge grey;
}

.octodex {
	display:flex;
	justify-content: center;
}

.authors img {
	width: 20px;
	height: 20px;
}

.image-footer {
	display:inline;

}

.image-caption {
	padding-left: 110px;
}

.image-number {
	float: left;
	font-style: italic;
}

.image-number::before{
	content: "#";
}

.authors {
	float: right;
}

.octocat {
	width: 300px;
	height: auto;
	margin: 20px;
}

ul {
	list-style: none;
}



